In [3]:
import ghsl_time_consistent_cluster as tcc
import config as config

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1. ETL Pipeline
Here we extract the data from the pop and smod rasters and copy it to postigs.

In [3]:
tcc.load_ghsl_rasters()

Running bash script with arguments:
CREATE EXTENSION
CREATE EXTENSION
Loading data for year 1975...
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 171
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 2
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
Loading complete for 1975
stderr: NOTICE:  extension "postgis" already exists, skipping
NOTICE:  extension "postgis_raster" already exists, skipping
Processing 1/1: /Users/andrea/Desktop/PhD/Data/API/clusterdb/data/ghsl/pop/GHS_POP_E1975_GLOBE_R2023A_54009_1000_V1_0.tif
INFO: Using computed tile size: 256x256
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
Processing 1/1: /Users/andrea/Desktop/PhD/Data/API/clusterdb/data/ghsl/smod/GHS_SMOD_E1975_GLOBE_R2023A_54009_1000_V1_0.tif
INFO: Using computed tile size: 256x256
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
Return code: 0
Running bash script with arguments:
CREATE EXTENSION
CREATE EXTENSION
Loading data for year 1980...
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 171
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 2
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
Loading complete for 1980
stderr: NOTICE:  extension "postgis" already exists, skipping
NOTICE:  extension "postgis_raster" already exists, skipping
Processing 1/1: /Users/andrea/Desktop/PhD/Data/API/clusterdb/data/ghsl/pop/GHS_POP_E1980_GLOBE_R2023A_54009_1000_V1_0.tif
INFO: Using computed tile size: 256x256
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
Processing 1/1: /Users/andrea/Desktop/PhD/Data/API/clusterdb/data/ghsl/smod/GHS_SMOD_E1980_GLOBE_R2023A_54009_1000_V1_0.tif
INFO: Using computed tile size: 256x256
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
Return code: 0
Running bash script with arguments:
CREATE EXTENSION
CREATE EXTENSION
Loading data for year 1985...
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 171
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 2
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
Loading complete for 1985
stderr: NOTICE:  extension "postgis" already exists, skipping
NOTICE:  extension "postgis_raster" already exists, skipping
Processing 1/1: /Users/andrea/Desktop/PhD/Data/API/clusterdb/data/ghsl/pop/GHS_POP_E1985_GLOBE_R2023A_54009_1000_V1_0.tif
INFO: Using computed tile size: 256x256
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
Processing 1/1: /Users/andrea/Desktop/PhD/Data/API/clusterdb/data/ghsl/smod/GHS_SMOD_E1985_GLOBE_R2023A_54009_1000_V1_0.tif
INFO: Using computed tile size: 256x256
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
NOTICE:  Adding SRID constraint
NOTICE:  Adding scale-X constraint
NOTICE:  Adding scale-Y constraint
NOTICE:  Adding blocksize-X constraint
NOTICE:  Adding blocksize-Y constraint
NOTICE:  Adding alignment constraint
NOTICE:  Adding number of bands constraint
NOTICE:  Adding pixel type constraint
NOTICE:  Adding nodata value constraint
NOTICE:  Adding out-of-database constraint
NOTICE:  Adding maximum extent constraint
Return code: 0
Running bash script with arguments:
CREATE EXTENSION
CREATE EXTENSION
Loading data for year 1990...
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 171
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

addoverviewconstraints
------------------------
t
(1 row)

COMMIT
BEGIN
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 1000
COPY 2
COPY 1000
COPY 1000
COPY 556
COPY 648
COPY 162
COPY 45
addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addrasterconstraints
----------------------
t
(1 row)

addoverviewconstraints

# 2. Clusters
Here we build clusters, the central unit of analysis of this project. Clusters are defined build as follows:
- 2.0 Extract urban areas from the smod raster and then compute population zonal statistics over those urban areas using the pop raster

In [4]:
tcc.create_cluster()

2024-07-23 16:20:16,162 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-07-23 16:20:16,162 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-23 16:20:16,163 INFO sqlalchemy.engine.Engine select current_schema()
2024-07-23 16:20:16,163 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-23 16:20:16,164 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-07-23 16:20:16,164 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-23 16:20:16,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 16:20:16,168 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_1975";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_1975.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_1975;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_1975 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_1975
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 16:20:16,168 INFO sqlalchemy.engine.Engine [generated in 0.00021s] {}
2024-07-23 16:26:21,590 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 16:26:21,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 16:26:21,599 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_1980";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_1980.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_1980;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_1980 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_1980
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 16:26:21,599 INFO sqlalchemy.engine.Engine [generated in 0.00026s] {}
2024-07-23 16:32:56,199 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 16:32:56,205 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 16:32:56,206 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_1985";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_1985.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_1985;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_1985 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_1985
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 16:32:56,207 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {}
2024-07-23 16:39:46,506 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 16:39:46,512 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 16:39:46,514 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_1990";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_1990.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_1990;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_1990 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_1990
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 16:39:46,514 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {}
2024-07-23 16:47:06,488 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 16:47:06,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 16:47:06,498 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_1995";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_1995.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_1995;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_1995 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_1995
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 16:47:06,498 INFO sqlalchemy.engine.Engine [generated in 0.00021s] {}
2024-07-23 16:54:50,745 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 16:54:50,752 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 16:54:50,754 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_2000";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_2000.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_2000;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_2000 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_2000
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 16:54:50,754 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {}
2024-07-23 17:02:49,978 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 17:02:49,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 17:02:49,987 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_2005";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_2005.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_2005;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_2005 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_2005
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 17:02:49,988 INFO sqlalchemy.engine.Engine [generated in 0.00029s] {}
2024-07-23 17:11:03,800 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 17:11:03,805 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 17:11:03,807 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_2010";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_2010.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_2010;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_2010 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_2010
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 17:11:03,807 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {}
2024-07-23 17:19:36,733 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 17:19:36,739 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 17:19:36,741 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_2015";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_2015.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_2015;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_2015 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_2015
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 17:19:36,741 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {}
2024-07-23 17:28:17,517 INFO sqlalchemy.engine.Engine COMMIT
2024-07-23 17:28:17,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-23 17:28:17,524 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "cluster_2020";

-- Create a binary raster from the smod raster with only urban and non-urban classes
CREATE TEMPORARY TABLE smod_binary ON COMMIT DROP AS
SELECT ST_Reclass(smod_2020.rast, 1,  '[0-21]:0, (21-30]:1', '1BB', nodataval := 0) AS rast
FROM smod_2020;

-- Create a temporary cluster geometry table with DBSCAN
CREATE TEMPORARY TABLE cluster_geom ON COMMIT DROP AS
WITH urban_pixels AS (
    SELECT (ST_PixelAsPolygons(rast, 1, TRUE)).*
    FROM smod_binary
),
dbscan AS (
    SELECT ST_ClusterDBSCAN(geom, eps := 1, minpoints := 1) OVER () AS cluster_id, geom
    FROM urban_pixels
)
SELECT cluster_id, ST_Union(geom) AS geom
FROM dbscan
GROUP BY cluster_id;

-- Create the cluster table with the geometry and population
CREATE TABLE cluster_2020 AS
WITH zonal_stats AS (
    SELECT cluster_id, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM cluster_geom, pop_2020
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_id
)
SELECT cluster_id, sum AS population, geom
FROM zonal_stats JOIN cluster_geom USING(cluster_id);
2024-07-23 17:28:17,524 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {}
2024-07-23 17:37:04,093 INFO sqlalchemy.engine.Engine COMMIT

# 3. Time consistent clusters
Here we build time consistent clusters i.e., clusters having a consistent id across time. We do this by:

- 3.1 Create a table with all clusters in all years. Create the "cluster intersection matching": a matching where two clusters (from different years) are matched if they intersect.
- 3.2 Create a crosswalk table between cluster ids and time consistent cluster ids. Time consistent clusters are defined as connected components of bipartite graph representing the cluster intersection matching. 
- 3.3 Create a table with time consistent clusters geometry. Create a table with the time consistent cluster population across years.

In [5]:
tcc.create_multiyear_tables_and_cluster_intersection_matching()

2024-07-24 16:07:05,127 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-07-24 16:07:05,127 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-24 16:07:05,128 INFO sqlalchemy.engine.Engine select current_schema()
2024-07-24 16:07:05,128 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-24 16:07:05,129 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-07-24 16:07:05,129 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-24 16:07:05,130 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 16:07:05,131 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS multiyear_cluster
2024-07-24 16:07:05,131 INFO sqlalchemy.engine.Engine [generated in 0.00022s] {}
2024-07-24 16:07:05,135 INFO sqlalchemy.engine.Engine CREATE TABLE multiyear_cluster AS (SELECT 1975 as year, cluster_id, population, geom FROM cluster_1975 UNION ALL SELECT 1980 as year, cluster_id, population, geom FROM cluster_1980 UNION ALL SELECT 1985 as year, cluster_id, population, geom FROM cluster_1985 UNION ALL SELECT 1990 as year, cluster_id, population, geom FROM cluster_1990 UNION ALL SELECT 1995 as year, cluster_id, population, geom FROM cluster_1995 UNION ALL SELECT 2000 as year, cluster_id, population, geom FROM cluster_2000 UNION ALL SELECT 2005 as year, cluster_id, population, geom FROM cluster_2005 UNION ALL SELECT 2010 as year, cluster_id, population, geom FROM cluster_2010 UNION ALL SELECT 2015 as year, cluster_id, population, geom FROM cluster_2015 UNION ALL SELECT 2020 as year, cluster_id, population, geom FROM cluster_2020 )
2024-07-24 16:07:05,135 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {}
2024-07-24 16:07:06,120 INFO sqlalchemy.engine.Engine CREATE INDEX ON multiyear_cluster USING GIST (geom)
2024-07-24 16:07:06,122 INFO sqlalchemy.engine.Engine [generated in 0.00178s] {}
2024-07-24 16:07:06,875 INFO sqlalchemy.engine.Engine COMMIT
2024-07-24 16:07:06,890 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 16:07:06,891 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS cluster_intersection_matching
2024-07-24 16:07:06,891 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {}
2024-07-24 16:07:06,892 INFO sqlalchemy.engine.Engine
        CREATE TABLE cluster_intersection_matching AS
        SELECT c1.year as y1, c1.cluster_id AS id1, c2.year AS y2, c2.cluster_id AS id2
        FROM multiyear_cluster c1 JOIN multiyear_cluster c2
        ON ST_Intersects(c1.geom, c2.geom);

2024-07-24 16:07:06,892 INFO sqlalchemy.engine.Engine [generated in 0.00022s] {}
2024-07-24 16:07:42,694 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
tcc.create_crosswalk_cluster_uid_to_cluster_id()

2024-07-24 16:07:42,739 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 16:07:42,739 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-24 16:07:42,740 INFO sqlalchemy.engine.Engine [generated in 0.00085s] {'table_name': 'SELECT * FROM cluster_intersection_matching', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-07-24 16:07:42,741 INFO sqlalchemy.engine.Engine SELECT * FROM cluster_intersection_matching
2024-07-24 16:07:42,742 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-07-24 16:07:53,622 INFO sqlalchemy.engine.Engine ROLLBACK
2024-07-24 16:09:49,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 16:09:49,559 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-24 16:09:49,559 INFO sqlalchemy.engine.Engine [cached since 126.8s ago] {'table_name': 'crosswalk_cluster_uid_to_cluster_id', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-07-24 16:09:49,562 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-24 16:09:49,562 INFO sqlalchemy.engine.Engine [cached since 126.8s ago] {'table_name': 'crosswalk_cluster_uid_to_cluster_id', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-07-24 16:09:49,564 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-24 16:09:49,565 INFO sqlalchemy.engine.Engine [generated in 0.00024s] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2024-07-24 16:09:49,567 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-24 16:09:49,567 INFO sqlalchemy.engine.Engine [generated in 0.00024s] {'param_1': 'v', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2024-07-24 16:09:49,570 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-24 16:09:49,570 INFO sqlalchemy.engine.Engine [cached since 0.002885s ago] {'param_1': 'm', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2024-07-24 16:09:49,573 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2024-07-24 16:09:49,573 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'crosswalk_cluster_uid_to_cluster_id'}
2024-07-24 16:09:49,577 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.format_type(pg_catalog.pg_type.typbasetype, pg_catalog.pg_type.typtypmod) AS attype, NOT pg_catalog.pg_type.typnotnull AS nullable, pg_catalog.pg_type.typdefault AS "default", pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, domain_constraints.condefs, domain_constraints.connames
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_constraint.contypid AS contypid, array_agg(pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s)) AS condefs, array_agg(CAST(pg_catalog.pg_constraint.conname AS TEXT)) AS connames
FROM pg_catalog.pg_constraint
WHERE pg_catalog.pg_constraint.contypid != %(contypid_1)s GROUP BY pg_catalog.pg_constraint.contypid) AS domain_constraints ON pg_catalog.pg_type.oid = domain_constraints.contypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2024-07-24 16:09:49,578 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {'pg_get_constraintdef_1': True, 'contypid_1': 0, 'typtype_1': 'd'}
2024-07-24 16:09:49,582 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, lbl_agg.labels AS labels
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_enum.enumtypid AS enumtypid, array_agg(CAST(pg_catalog.pg_enum.enumlabel AS TEXT) ORDER BY pg_catalog.pg_enum.enumsortorder) AS labels
FROM pg_catalog.pg_enum GROUP BY pg_catalog.pg_enum.enumtypid) AS lbl_agg ON pg_catalog.pg_type.oid = lbl_agg.enumtypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2024-07-24 16:09:49,582 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {'typtype_1': 'e'}
2024-07-24 16:09:49,584 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.oid, pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s)
2024-07-24 16:09:49,584 INFO sqlalchemy.engine.Engine [generated in 0.00021s] {'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'crosswalk_cluster_uid_to_cluster_id'}
2024-07-24 16:09:49,586 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, NULL AS extra
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s)) AS attr GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2024-07-24 16:09:49,587 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {'generate_subscripts_1': 1, 'contype': 'p', 'oids_1': 208854}
2024-07-24 16:09:49,589 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname, CASE WHEN (pg_catalog.pg_constraint.oid IS NOT NULL) THEN pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s) END AS anon_1, nsp_ref.nspname, pg_catalog.pg_description.description
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_constraint ON pg_catalog.pg_class.oid = pg_catalog.pg_constraint.conrelid AND pg_catalog.pg_constraint.contype = %(contype_1)s LEFT OUTER JOIN pg_catalog.pg_class AS cls_ref ON cls_ref.oid = pg_catalog.pg_constraint.confrelid LEFT OUTER JOIN pg_catalog.pg_namespace AS nsp_ref ON cls_ref.relnamespace = nsp_ref.oid LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname
2024-07-24 16:09:49,589 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {'pg_get_constraintdef_1': True, 'contype_1': 'f', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'crosswalk_cluster_uid_to_cluster_id'}
2024-07-24 16:09:49,593 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_index.indrelid, cls_idx.relname AS relname_index, pg_catalog.pg_index.indisunique, pg_catalog.pg_constraint.conrelid IS NOT NULL AS has_constraint, pg_catalog.pg_index.indoption, cls_idx.reloptions, pg_catalog.pg_am.amname, CASE WHEN (pg_catalog.pg_index.indpred IS NOT NULL) THEN pg_catalog.pg_get_expr(pg_catalog.pg_index.indpred, pg_catalog.pg_index.indrelid) END AS filter_definition, pg_catalog.pg_index.indnkeyatts, pg_catalog.pg_index.indnullsnotdistinct, idx_cols.elements, idx_cols.elements_is_expr
FROM pg_catalog.pg_index JOIN pg_catalog.pg_class AS cls_idx ON pg_catalog.pg_index.indexrelid = cls_idx.oid JOIN pg_catalog.pg_am ON cls_idx.relam = pg_catalog.pg_am.oid LEFT OUTER JOIN (SELECT idx_attr.indexrelid AS indexrelid, min(idx_attr.indrelid) AS min_1, array_agg(idx_attr.element ORDER BY idx_attr.ord) AS elements, array_agg(idx_attr.is_expr ORDER BY idx_attr.ord) AS elements_is_expr
FROM (SELECT idx.indexrelid AS indexrelid, idx.indrelid AS indrelid, idx.ord AS ord, CASE WHEN (idx.attnum = %(attnum_1)s) THEN pg_catalog.pg_get_indexdef(idx.indexrelid, idx.ord + %(ord_1)s, %(pg_get_indexdef_1)s) ELSE CAST(pg_catalog.pg_attribute.attname AS TEXT) END AS element, idx.attnum = %(attnum_2)s AS is_expr
FROM (SELECT pg_catalog.pg_index.indexrelid AS indexrelid, pg_catalog.pg_index.indrelid AS indrelid, unnest(pg_catalog.pg_index.indkey) AS attnum, generate_subscripts(pg_catalog.pg_index.indkey, %(generate_subscripts_1)s) AS ord
FROM pg_catalog.pg_index
WHERE NOT pg_catalog.pg_index.indisprimary AND pg_catalog.pg_index.indrelid IN (%(oids_1)s)) AS idx LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_attribute.attnum = idx.attnum AND pg_catalog.pg_attribute.attrelid = idx.indrelid
WHERE idx.indrelid IN (%(oids_1)s)) AS idx_attr GROUP BY idx_attr.indexrelid) AS idx_cols ON pg_catalog.pg_index.indexrelid = idx_cols.indexrelid LEFT OUTER JOIN pg_catalog.pg_constraint ON pg_catalog.pg_index.indrelid = pg_catalog.pg_constraint.conrelid AND pg_catalog.pg_index.indexrelid = pg_catalog.pg_constraint.conindid AND pg_catalog.pg_constraint.contype = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s])
WHERE pg_catalog.pg_index.indrelid IN (%(oids_1)s) AND NOT pg_catalog.pg_index.indisprimary ORDER BY pg_catalog.pg_index.indrelid, cls_idx.relname
2024-07-24 16:09:49,594 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'attnum_1': 0, 'ord_1': 1, 'pg_get_indexdef_1': True, 'attnum_2': 0, 'generate_subscripts_1': 1, 'param_1': 'p', 'param_2': 'u', 'param_3': 'x', 'oids_1': 208854}
2024-07-24 16:09:49,598 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, bool_and(pg_catalog.pg_index.indnullsnotdistinct) AS indnullsnotdistinct
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s)) AS attr JOIN pg_catalog.pg_index ON attr.conindid = pg_catalog.pg_index.indexrelid GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2024-07-24 16:09:49,598 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'generate_subscripts_1': 1, 'contype': 'u', 'oids_1': 208854}
2024-07-24 16:09:49,600 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname, pg_catalog.pg_description.description
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_class.oid = pg_catalog.pg_description.objoid AND pg_catalog.pg_description.objsubid = %(objsubid_1)s JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s)
2024-07-24 16:09:49,600 INFO sqlalchemy.engine.Engine [generated in 0.00022s] {'objsubid_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'crosswalk_cluster_uid_to_cluster_id'}
2024-07-24 16:09:49,602 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname, CASE WHEN (pg_catalog.pg_constraint.oid IS NOT NULL) THEN pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s) END AS anon_1, pg_catalog.pg_description.description
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_constraint ON pg_catalog.pg_class.oid = pg_catalog.pg_constraint.conrelid AND pg_catalog.pg_constraint.contype = %(contype_1)s LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname
2024-07-24 16:09:49,602 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {'pg_get_constraintdef_1': True, 'contype_1': 'c', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'crosswalk_cluster_uid_to_cluster_id'}
2024-07-24 16:09:49,604 INFO sqlalchemy.engine.Engine
DROP TABLE crosswalk_cluster_uid_to_cluster_id
2024-07-24 16:09:49,604 INFO sqlalchemy.engine.Engine [no key 0.00020s] {}
2024-07-24 16:09:49,605 INFO sqlalchemy.engine.Engine
CREATE TABLE crosswalk_cluster_uid_to_cluster_id (
	cluster_uid BIGINT,
	year BIGINT,
	cluster_id BIGINT
)


2024-07-24 16:09:49,605 INFO sqlalchemy.engine.Engine [no key 0.00021s] {}

In [8]:
tcc.create_time_consistent_cluster_geometry_pre_geocoding()

2024-07-24 16:23:04,263 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 16:23:04,265 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "time_consistent_cluster_geometry_pre_geocoding";

-- Create the time consistent cluster geometry table
CREATE TABLE "time_consistent_cluster_geometry_pre_geocoding" AS
WITH multiyear_cluster_with_uid AS (
    SELECT m.cluster_uid, c.year, c.cluster_id, geom
    FROM "crosswalk_cluster_uid_to_cluster_id" m JOIN "multiyear_cluster" c
    ON m.cluster_id = c.cluster_id AND m.year = c.year
)
SELECT cluster_uid, ST_Union(geom) AS geom
FROM multiyear_cluster_with_uid
GROUP BY cluster_uid;

CREATE INDEX ON "time_consistent_cluster_geometry_pre_geocoding" USING GIST (geom);
2024-07-24 16:23:04,265 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-07-24 16:23:49,908 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
tcc.create_time_consistent_cluster_pre_geocoding()

2024-07-24 19:30:16,179 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 19:30:16,180 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_1975;

CREATE TABLE time_consistent_cluster_1975 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_1975
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:30:16,181 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
2024-07-24 19:31:20,747 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_1980;

CREATE TABLE time_consistent_cluster_1980 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_1980
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:31:20,748 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {}
2024-07-24 19:32:27,139 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_1985;

CREATE TABLE time_consistent_cluster_1985 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_1985
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:32:27,140 INFO sqlalchemy.engine.Engine [generated in 0.00122s] {}
2024-07-24 19:33:32,736 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_1990;

CREATE TABLE time_consistent_cluster_1990 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_1990
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:33:32,737 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2024-07-24 19:34:36,678 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_1995;

CREATE TABLE time_consistent_cluster_1995 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_1995
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:34:36,679 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {}
2024-07-24 19:35:39,998 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_2000;

CREATE TABLE time_consistent_cluster_2000 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_2000
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:35:39,999 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {}
2024-07-24 19:36:42,741 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_2005;

CREATE TABLE time_consistent_cluster_2005 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_2005
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:36:42,743 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2024-07-24 19:37:45,252 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_2010;

CREATE TABLE time_consistent_cluster_2010 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_2010
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:37:45,253 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {}
2024-07-24 19:38:47,675 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_2015;

CREATE TABLE time_consistent_cluster_2015 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_2015
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:38:47,676 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {}
2024-07-24 19:39:48,374 INFO sqlalchemy.engine.Engine DROP TABLE time_consistent_cluster_2020;

CREATE TABLE time_consistent_cluster_2020 AS
WITH zonal_stats AS (
    SELECT cluster_uid, (St_SummaryStats(St_Union(ST_Clip(rast, 1, geom, true)))).*
    FROM time_consistent_cluster_geometry_pre_geocoding, pop_2020
    WHERE St_Intersects(rast,geom)
    GROUP BY cluster_uid
)
SELECT cluster_uid, sum AS population
FROM zonal_stats;
2024-07-24 19:39:48,375 INFO sqlalchemy.engine.Engine [generated in 0.00123s] {}
2024-07-24 19:40:49,689 INFO sqlalchemy.engine.Engine COMMIT
2024-07-24 19:40:49,694 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 19:40:49,695 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS time_consistent_cluster_pre_geocoding
2024-07-24 19:40:49,695 INFO sqlalchemy.engine.Engine [cached since 1.105e+04s ago] {}
2024-07-24 19:40:49,697 INFO sqlalchemy.engine.Engine CREATE TABLE time_consistent_cluster_pre_geocoding AS (SELECT 1975 as year, cluster_uid, population FROM time_consistent_cluster_1975 UNION ALL SELECT 1980 as year, cluster_uid, population FROM time_consistent_cluster_1980 UNION ALL SELECT 1985 as year, cluster_uid, population FROM time_consistent_cluster_1985 UNION ALL SELECT 1990 as year, cluster_uid, population FROM time_consistent_cluster_1990 UNION ALL SELECT 1995 as year, cluster_uid, population FROM time_consistent_cluster_1995 UNION ALL SELECT 2000 as year, cluster_uid, population FROM time_consistent_cluster_2000 UNION ALL SELECT 2005 as year, cluster_uid, population FROM time_consistent_cluster_2005 UNION ALL SELECT 2010 as year, cluster_uid, population FROM time_consistent_cluster_2010 UNION ALL SELECT 2015 as year, cluster_uid, population FROM time_consistent_cluster_2015 UNION ALL SELECT 2020 as year, cluster_uid, population FROM time_consistent_cluster_2020 )
2024-07-24 19:40:49,697 INFO sqlalchemy.engine.Engine [generated in 0.00038s] {}
2024-07-24 19:40:50,104 INFO sqlalchemy.engine.Engine COMMIT

# 4. Country Geocoding
Here we load the country boarder data and assign to each cluster, year pair the country that the cluster belongs into the given year. 
- 4.1 Load the country boarder data
- 4.2 Assign the country to each cluster, year pair. Here we make a couple of choices thar are worth noting:
    - Border clusters are assigned to the country with the largest area of intersection
    - Small islands that intersect no country are removed. These are typically islands so small that they are not counted in the country border dataset.

In [16]:
tcc.load_country_borders()

2024-07-24 20:25:20,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 20:25:20,711 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS country_borders
2024-07-24 20:25:20,711 INFO sqlalchemy.engine.Engine [generated in 0.00020s] {}
2024-07-24 20:25:20,716 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS crosswalk_cshape_to_world_bank_codes
2024-07-24 20:25:20,716 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {}
2024-07-24 20:25:20,717 INFO sqlalchemy.engine.Engine COMMIT
Running bash script with arguments:
CREATE TABLE
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
INSERT 0 1
ALTER TABLE
CREATE TABLE
COPY 185
Data loaded successfully.
Return code: 0

In [17]:
tcc.geocode_cluster_with_country()

2024-07-24 20:25:23,337 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-24 20:25:23,340 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS time_consistent_cluster;
DROP TABLE IF EXISTS time_consistent_cluster_geometry;

-- Temporary table of transformed country borders
CREATE TEMPORARY TABLE temp_country_geom_transformed ON COMMIT DROP AS
SELECT gwcode, gwsyear, gweyear, ST_transform(the_geom, 54009) AS geom
FROM country_borders;

CREATE INDEX ON temp_country_geom_transformed USING GIST (geom);

-- Temporary table of cluster-country matching
CREATE TEMPORARY TABLE temp_cluster_country_matching ON COMMIT DROP AS
SELECT cluster_uid, year, gwcode, gwsyear, gweyear
FROM (time_consistent_cluster_pre_geocoding JOIN time_consistent_cluster_geometry_pre_geocoding USING (cluster_uid)) cluster
JOIN temp_country_geom_transformed country ON st_intersects(cluster.geom, country.geom)
WHERE (gwsyear < year AND year <= gweyear) OR (year = 2020 AND gweyear = 2019);

-- Temporary table of clusters that match with multiple countries (i.e., border clusters)
CREATE TEMPORARY TABLE temp_cluster_country_matching_multiple_countries ON COMMIT DROP AS
WITH countries_matched_per_cluster AS (
    SELECT cluster_uid, year, COUNT(*) AS n_matched_countries
    FROM temp_cluster_country_matching
    GROUP BY cluster_uid, year
),
clusters_matched_with_multiple_countries AS (
  SELECT cluster_uid, year, gwcode, gwsyear, gweyear
  FROM temp_cluster_country_matching JOIN (SELECT * FROM countries_matched_per_cluster WHERE n_matched_countries >= 2) USING (cluster_uid, year)
),
cluster_country_intersection_areas AS (
    SELECT cluster_uid, year, gwcode, ST_Area(ST_Intersection(cluster.geom, country.geom)) AS intersection_area
    FROM clusters_matched_with_multiple_countries JOIN time_consistent_cluster_geometry_pre_geocoding cluster USING(cluster_uid)
    JOIN temp_country_geom_transformed country USING (gwcode, gwsyear, gweyear)
),
cluster_country_intersection_areas_ranked AS (
    SELECT cluster_uid, year, gwcode, RANK() OVER(PARTITION BY cluster_uid, year ORDER BY intersection_area DESC) AS area_rank
    FROM cluster_country_intersection_areas
)
SELECT cluster_uid, year, gwcode
FROM cluster_country_intersection_areas_ranked WHERE area_rank = 1;

-- Temporary table of clusters that match with a single country (i.e., interior clusters)
CREATE TEMPORARY TABLE temp_cluster_country_matching_single_countries ON COMMIT DROP AS
WITH countries_matched_per_cluster AS (
    SELECT cluster_uid, year, COUNT(*) AS n_matched_countries
    FROM temp_cluster_country_matching
    GROUP BY cluster_uid, year
)
SELECT cluster_uid, year, gwcode
FROM temp_cluster_country_matching JOIN countries_matched_per_cluster USING (cluster_uid, year)
WHERE n_matched_countries = 1;

-- Final table of cluster-country matching where we cleaned clustered matching with multiple countries
-- and added world bank codes
CREATE TEMPORARY TABLE temp_cluster_country_matching_clean ON COMMIT DROP AS
WITH cluster_country_matching AS (
    SELECT * FROM temp_cluster_country_matching_single_countries
    UNION ALL
    SELECT * FROM temp_cluster_country_matching_multiple_countries)
SELECT cluster_uid, year, gwcode AS cshape_code, world_bank_code
FROM cluster_country_matching JOIN crosswalk_cshape_to_world_bank_codes
ON gwcode = cshape_code;

-- We add country information to the time consistent cluster table
-- Note: by doing this we drop clusters that are matched to no country
-- These are usually small clusters on islands off the coast of a country which are too small to be counted in the country border dataset.
CREATE TABLE time_consistent_cluster AS
SELECT cluster_uid, year, population, cshape_code, world_bank_code
FROM time_consistent_cluster_pre_geocoding JOIN temp_cluster_country_matching_clean USING (cluster_uid, year);

-- We filter the time consistent cluster geometry table to only include clusters that have country information
CREATE TABLE time_consistent_cluster_geometry AS
SELECT cluster_uid, geom
FROM time_consistent_cluster_geometry_pre_geocoding
WHERE cluster_uid IN (SELECT DISTINCT cluster_uid FROM time_consistent_cluster);

ALTER TABLE "time_consistent_cluster_geometry" ADD PRIMARY KEY (cluster_uid);
CREATE INDEX ON "time_consistent_cluster_geometry" USING GIST (geom);

ALTER TABLE "time_consistent_cluster" ADD PRIMARY KEY (cluster_uid, year);
ALTER TABLE "time_consistent_cluster" ADD FOREIGN KEY (cluster_uid) REFERENCES "time_consistent_cluster_geometry"(cluster_uid);



2024-07-24 20:25:23,341 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {}
2024-07-24 20:25:38,694 INFO sqlalchemy.engine.Engine COMMIT